.navbar {
    border-radius: 15px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white !important;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: white !important;
    margin-right: 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffeb3b !important;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}
